body {
    background-image: url(../images/light_grey.png);
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#game {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;

}

img {
    height: 300px;
    width: 450px;
}